.row 
{
    max-width: $grid-width;
    background-color: #eee;
    margin: 0 auto; 

    &:not(:last-child) // We select everything except the last child
    {
        margin-bottom: $gutter-vertical;
    }

    @include clearfix;

    //[alt="Logo"]  // All html elements with attribute alt="Logo"
    //[class*="col-"]   // All classes which contains "col-" 
    //[class$="col-"]   // All classes which ends with "col-"
    [class^="col-"] // All classes which starts with "col-"
    {
        background-color: orangered;
        float: left;

        &:not(:last-child) 
        {
            margin-right: $gutter-horizontal;
        }
    } 

    .col-1-of-2 
    {
        width: calc((100% - #{$gutter-horizontal}) / 2);    // Need to use #{} expression to use sass variables in calc function
    }

    .col-1-of-3
    {
        width: calc((100% - 2 * #{$gutter-horizontal}) / 3);
    }

    .col-2-of-3
    {
        width: calc(  2*  ((100% - 2 * #{$gutter-horizontal}) / 3) + #{$gutter-horizontal});
    }

    .col-1-of-4
    {
        width: calc((100% - 3 * #{$gutter-horizontal}) / 4);
    }

    .col-2-of-4
    {
        width: calc(2 * ((100% - 3 * #{$gutter-horizontal}) / 4) + #{$gutter-horizontal});
    }

    .col-3-of-4
    {
        width: calc(3 * ((100% - 3 * #{$gutter-horizontal}) / 4) + 2 * #{$gutter-horizontal});
    }
}
