.header {
    height: 95vh;
    background-image: linear-gradient(
                      to right bottom, 
                      rgba($color-primary-light, 0.8), 
                      rgba($color-primary-dark, 0.8)),
                      url(../img/hero-small.jpg);
    background-size: cover;
    background-position: top;
    position: relative;

    -webkit-clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%); 
    clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);

    /* 192dpi(dots per inch) is for higher resolution */
    /* It's good to use dpi with min-width */
    /* Condition: (192dpi && min600px) OR min2000px */
    /* -webkit-min-device-pixel-ratio for safari browser */
    @media(min-resolution: 192dpi) and (min-width : 37.5em),
    (-webkit-min-device-pixel-ratio: 2) and (min-width : 37.5em),
    (min-width: 125em)
    {
    background-image: linear-gradient(
                        to right bottom, 
                        rgba($color-primary-light, 0.8), 
                        rgba($color-primary-dark, 0.8)), 
                        url(../img/hero.jpg);
    }

    @include respond(phone)
    {
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%); 
        clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%);
    } 

    &__logo-box
    {
        position: absolute;
        top: 4rem;
        left: 4rem;
    }

    &__logo {
        height: 3.5rem;  /* Width will be automatically scaled */
    }
    
    &__text-box {
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
    }
}