*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    // This defines how much 1rem will be
    font-size: 10px;    // We made 1rem = 10px here
    /*font-size: 62.5%*/ /* Means 10px total */
    /*font-size: 100%*/ /* Means 16px total */

    @include respond(tab-land) {    // width < 1200px
        font-size: 56.25%; // 1rem = 9px, 9/16 = 56.25%
        /*font-size: 9px;*/
    }

    @include respond(tab-port) {    // width < 900px
        // All contents will automatically be referred into @content
        font-size: 50%; // 1rem = 8px, 8/16 = 50%
        /*font-size: 8px;*/
    }

    @include respond(big-desktop) {     // width > 1800px
        font-size: 75%; // 1rem = 12px, 12/16 = 75%
        /*font-size: 12px;*/
    }
}

body {
    box-sizing: border-box;
    padding: 3rem;

    @include respond(tab-port) {    // width < 900px
        padding: 0;
    }
}