*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    // This defines how much 1rem will be
    font-size: 10px;    // We made 1rem = 10px here
    /*font-size: 62.5%*/ /* Means 10px total */
    /*font-size: 100%*/ /* Means 16px total */
}

body {
    box-sizing: border-box;
}